#---------#
# Generic #
#---------#

.env
.idea/
.vscode/
.DS_Store

#-------------------#
# Language-Specific #
#-------------------#

# Node.js
node_modules/
package-lock.json

# Python
.venv/
__pycache__/

#-----------------#
# Module-Specific #
#-----------------#

# Scrapping
scraping/replays/
scraping/stats/
scraping/lead_percentage.py/
IA_switch_move/complete_dataset.csv
IA_switch_move/complete_dataset_2.csv
IA_switch_move/complete_dataset_for_processing.csv
IA_switch_move/complete_dataset.csv
